[Unit]
Description=Proton Mail Bridge
After=network.target

[Service]
Type=simple
ExecStart=protonmail-bridge-core -n
Restart=always

[Install]
WantedBy=default.target
